

.homeWrapper p{
    text-align: right;
}

.homeWrapper h2{
    
    text-align: right;
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: 20px;
}
.articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    
}
.article a{
    width: 23%;
    
    
}